* {
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
}

.board {
    display: grid;
    height: 500px;
    width: 500px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border: 1px solid white;
    gap: 2px;
    padding: 2px;
    background-color: rgb(40, 40, 40);
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    border: 1px solid white;
    background: rgb(79, 79, 79);
    color: white;
    cursor: pointer;
}

.endgame {
    font-size: 28px;
    font-weight: bold;
}